*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.container{
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    width:50%;
    height:fit-content;
    align-items: center;
    justify-content: center;
    align-content: center;;
    justify-items:center ;
    z-index: 100;
    /* margin-top: 25%; */
}
.containerCenter{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;              
    background-color: #f0f6ff;

}
.main{
    padding: 2rem 2rem 0 2rem;
    display: grid;
}
.sidebar{
    height:100% ;
    padding: 2rem;
    background:no-repeat url(./assets/images/bg-sidebar-desktop.svg) center ;
}
.sidebarList{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    /* height: 100%; */
}
.sidebar_ele{
    display: flex;
    /* align-content:stretch; */
    gap: .8rem;
    align-items: center;
}
.sidebar_ele>div:first-child{
    width: 25px;
    height:25px;
    /* background-color: #adbeff; */
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    /* padding: 0 .5rem .3rem .5rem ; */
}
.formContainer{
    display: grid;
    grid-template-columns:1fr ;
    gap:1rem ;
}
.formHeader{
    padding-bottom: 2rem;
}
.formLabelInput{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}
#nextStep{
    display: flex;
    justify-content:flex-end;
    align-items: center;             
    /* background-color: #bff2f6; */
    padding-top: 4rem;
}
#nextStepbtn{
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #092668;
    color: #fff;   
    font-size: 1rem;
    /* color: #333; */
    cursor: pointer;
}
.formLabelInput>input{
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
    color: #333;
}